@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    background: rgb(250, 245, 245);
}

.dottedBackground{
    background-image: radial-gradient(rgb(121, 118, 118) 0.3px, transparent 1px);
    background-size: 10px 10px;;
}
